.banner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px; /* Tamanho padrão para desktop */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3); /* Overlay */
    }
  
    .bannerContent {
      position: relative;
      z-index: 1;
      text-align: center;
      color: #fff;
  
      h1 {
        font-size: 32px;
        font-weight: 400;
        margin-bottom: 20px;
      }
  

        
      
    }
  
    /* Responsivo para tablets */
    @media (max-width: 768px) {
      height: 400px; /* Reduz a altura do banner para tablets */
  
      .bannerContent {
        h1 {
          font-size: 24px; /* Diminui o tamanho da fonte */
          margin-bottom: 15px;
        }
  
        .bannerButton {
          padding: 8px 16px; /* Ajusta o padding do botão */
        }
      }
    }
  
    /* Responsivo para smartphones */
    @media (max-width: 480px) {
      height: 300px; /* Reduz ainda mais a altura do banner para smartphones */
  
      .bannerContent {
        h1 {
          font-size: 18px; /* Diminui ainda mais o tamanho da fonte */
          margin-bottom: 10px;
        }
  
        .bannerButton {
          padding: 6px 12px; /* Ajusta o padding do botão para telas pequenas */
        }
      }
    }
  }
  