$primary-color: #ffffff;
$font-stack: "Quicksand", sans-serif;;

/* Adicione variáveis para tamanhos de fontes responsivos */
$base-font-size: 16px;
$small-font-size: 14px;
$large-font-size: 18px;

body{
  font-family: $font-stack;
  margin: 0%;
}
.appContainer, .mainContent{
  font-family: $font-stack;
  background-color: $primary-color;
  color: white;
  font-size: $base-font-size;
  margin: 0%;


  @media (max-width: 768px) {
    font-size: $small-font-size; 
  }

  @media (min-width: 1200px) {
    font-size: $large-font-size;
  }
}
