.squareContainer {
    display: flex;                     
    justify-content: center;          
    align-items: center;             
    gap: 2rem;                       
    padding: 1%;                       
    flex-wrap: wrap;                   
  }
  
  .square {
    padding: 2rem;                    
    text-align: center;                
    width: 250px;
    height: 200px;                     
    position: relative;               
  
  
    &::after {
      content: '';                     
      position: absolute;              
      top: 0;                          
      right: -10px;                    
      width: 1px;                     
      height: 100%;                   
      background-color: #ddd;         
    }
  

    &:last-child::after {
      display: none;                  
    }
  
    h2 {
      padding: 1rem;
      font-size: 1rem;
      text-transform: uppercase;
      color: #333;
      font-weight: 600;
    }
  
    p {
      font-size: 0.9rem;
      color: #333;
      text-align: center;
    }
  
   
    @media (max-width: 1024px) { 
      width: 200px;                
    }
  
    @media (max-width: 768px) { 
        h2{
            font-size: 0.9rem;
            padding: 0.5rem;
          }
    
          p{
            font-size: 0.8rem;
          }
      width: 150px;               
      height: 200px;              
    }
  
    @media (max-width: 480px) { 
      width: 100%;               
      height: auto;   
      
      h2{
        font-size: 0.8rem;
        padding: 0.5rem;
      }

      p{
        font-size: 0.7rem;
      }
  

      &::after {
        top: auto;                
        left: 0;                 
        right: 0;                 
        width: 100%;              
        height: 1px;              
        position: relative;       
        margin: 1rem 0;          
      }
    }
  }
  
  .buttonContainer {
    display: flex;                    
    justify-content: center;           
    width: 100%;   
    padding-top: 10px;                   
  }