.servicesContainer {
    display: flex;
    flex-direction: column;
    gap: 40px; /* Espaço entre os serviços */
    padding: 20px;
    align-items: center;
  
    .serviceItem {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      border-bottom: 1px solid #ccc;
  
      .serviceImage {
        flex: 1 1 50%; /* A imagem ocupará 40% do espaço disponível */
        display: flex;
        justify-content: center; /* Centraliza a imagem */
        img {
          width: 80%;
          /* Mantém a imagem com um tamanho adequado */
          height: 440px;
          object-fit: cover;
          border-radius: 8px;
        }
      }
  
      .serviceText {
        flex: 1 1 50%; /* O texto ocupará 50% do espaço disponível */
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 20px; /* Adiciona espaço entre o texto e a imagem */
        text-align: left;
  
        h2 {
          margin-bottom: 10px;
          color: #333;
          font-weight: lighter;
          text-transform: uppercase;
         
        }
  
        p {
          
          color: #666;
        }
      }
    }
  
    /* Alterna a ordem do texto e da imagem para os serviços pares */
    .reversed {
      flex-direction: row-reverse;
    }
  
    @media (max-width: 768px) {
      .serviceItem {
        flex-direction: column;
        text-align: center;
  
        .serviceImage,
        .serviceText {
          max-width: 100%;
          padding: 0;
        }
      }
  
      .reversed {
        flex-direction: column;
      }
    }
  }
  