.backgroundSection {
    display: flex;
    height: 400px; /* Ajuste a altura conforme necessário */
    position: relative; /* Para o overlay funcionar corretamente */
    
    .image {
      flex: 1; /* Cada imagem ocupa 1/3 da largura da seção */
      background-size: cover; /* Cobre todo o espaço da div */
      background-repeat: no-repeat; /* Não repetir as imagens */
      background-position: center; /* Centraliza as imagens */
    }
  
    .overlay {
      position: absolute;
      top: 50%; /* Posiciona a parte superior no meio da seção */
      left: 50%; /* Posiciona a parte esquerda no meio da seção */
      transform: translate(-50%, -50%); /* Move para o centro exato */
      width: 600px; /* Largura do overlay */
      height: 200px; /* Altura do overlay */
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.5); /* Escurecimento */
      z-index: 1; /* Certifique-se de que o overlay fique acima das imagens */
      border-radius: 16px;
    }
  
    .content {
      text-align: center;
      color: #fff;
      padding: 20px; /* Bordas arredondadas do retângulo */
      z-index: 2; /* Garante que o conteúdo esteja acima do overlay */
  
      .quote {
        margin-bottom: 20px;
        color: #fff;
      }
  
      .button {
        padding: 10px 20px;
        background-color: #4CAF50; /* Cor do botão */
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #45a049; /* Cor ao passar o mouse */
        }
      }
    }
  }
  